@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<EspinaITELEC1C.Models.StudentModel>

@*<h1>Student List</h1>

 <table border="1px">
    <tbody>
        <tr>
            <th>Student ID:</th>
            <td></td>
            <td>@ViewBag.StudentId</td>
        </tr>
        <tr>
            <th>Student Name:</th>
            <td></td>
            <td>@ViewBag.StudentName</td>
        </tr>
        <tr>
            <th>Date Enrolled:</th>
            <td></td>
            <td>
                @{
                    var DateEnrolled = @ViewBag.DateEnrolled;
                    string EnrollmentDate = String.Format("{0:dd/MM/yyyy}", DateEnrolled);
                }
                @EnrollmentDate
            </td>
        </tr>
        <tr>
            <th>Student Course:</th>
            <td></td>
            <td>@ViewBag.StudentCourse</td>
        </tr>
        <tr>
            <th>Student Email:</th>
            <td></td>
            <td>@ViewBag.StudentEmail</td>
        </tr>
    </tbody>
</table> *@

<h1>Student List</h1>

<a class="btn btn-success" asp-action="AddStudent">Add Student</a>

@*<input class="btn btn-primary" type="button" value="ADd Student"
       onclick="@("window.location.href='" + @Url.Action("addstudent", "Student") + "'");" />*@

<table class="table table-hover table-sm">
    <tr>
        <th>Student ID:</th>
        <th></th>
        <th>Full Name:</th>
        <th></th>
        <th>Enrollment Date</th>
        <th></th>
        <th>Program</th>
        <th></th>
        <th>Email Address:</th>
        <th></th>
        <th>Show Details:</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td></td>
            <td>@student.StudentName</td>
            <td></td>
            <td>
                @{
                    var DateEnrolled = student.DateEnrolled;
                    string EnrollmentDate = String.Format("{0:dd/MM/yyyy}", DateEnrolled);
                }
                @EnrollmentDate
            </td>
            <td></td>
            <td>@student.StudentCourse</td>
            <td></td>
            <td>@student.StudentEmail</td>
            <td></td>
            <td><a style="color: white;" class="btn btn-info" asp-action="StudentDetails" asp-route-id="@student.StudentId">Show Student Details</a></td>
        </tr>
    }
</table>