@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Student List</h1>

<table border="1px">
    <tbody>
        <tr>
            <th>Student ID:</th>
            <td></td>
            <td>@ViewBag.StudentId</td>
        </tr>
        <tr>
            <th>Student Name:</th>
            <td></td>
            <td>@ViewBag.StudentName</td>
        </tr>
        <tr>
            <th>Date Enrolled:</th>
            <td></td>
            <td>
                @{
                    var DateEnrolled = @ViewBag.DateEnrolled;
                    string EnrollmentDate = String.Format("{0:dd/MM/yyyy}", DateEnrolled);
                }
                @EnrollmentDate
            </td>
        </tr>
        <tr>
            <th>Student Course:</th>
            <td></td>
            <td>@ViewBag.StudentCourse</td>
        </tr>
        <tr>
            <th>Student Email:</th>
            <td></td>
            <td>@ViewBag.StudentEmail</td>
        </tr>
    </tbody>
</table>